body {
    background-color: #16253a;
}

.div1 {
    background-color: #1f3655;
    border-radius: 30px;
    padding: 20px 20px 20px 20px;
    position: relative;
    margin-bottom: 20px;
    height: 40%;
}

h1,
p,
h2,
h3 {
    color: #c5c5c5;
}

h2 {
    font-size: 30px;
    margin-bottom: 2px;
}

.i1 {
    display: flex;
    text-align: center;
    align-items: center;
}

.i2 {
    margin-left: 20px;
}

.info {
    display: flex;
}

.div11 {
    width: 30%;
    margin-right: 10px;
    height: 30%;
}

img {
    border: 3px solid #fff;
    height: 20%;
    width: 10%;
    border-radius: 50%;
}

@media (max-width: 750px) {
    img {
        height: 40%;
        width: 30%;
    }
    h2 {
        font-size: 20px;
        margin-bottom: 2px;
    }
    h3 {
        font-size: 10px;
        color: #c5c5c5;
    }
}