* {
    margin: 0;
    padding: 0;
}

body {
    background: #c5d6ee;
}

a {
    font-family: sans-serif;
    text-decoration: none;
    color: #fff;
}

.titulo {
    text-align: left;
    justify-items: left;
    justify-content: left;
    color: #fff;
}

.header {
    background: #012030;
    padding-inline: 16px;
    text-align: left;
}

.nave {
    margin-left: auto;
    /* empurra tudo dentro dela para o lado direito */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-list a {
    font-size: 18px;
    color: #fff;
    padding-block: 16px;
}

.hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
}

.hamburger::after,
.hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

article {
    display: flex;
}

.bt1 {
    display: none;
}

.div1 {
    height: 400px;
    width: 30%;
    background-color: #eaedf1;
    border-radius: 30px;
    padding: 2px 0 3px 20px;
    position: relative;
    margin: 20px 5px 0 25px;
    border-style: dashed;
    /* Define o estilo tracejado */
    border-width: 2px;
    /* Define a espessura da borda */
    border-color: blue;
    color: black;
}

.div1 h2,
.div1 p {
    color: black;
    margin: 30px 0px 0px 0px;
    width: 80%;
}

.div2 {
    width: 30%;
    background-color: #eaedf1;
    border-radius: 30px;
    padding: 2px 0 3px 20px;
    position: relative;
    margin: 20px 5px 0 5px;
    color: black;
}

.div3 {
    width: 30%;
    background-color: #012030;
    border-radius: 30px;
    padding: 2px 0 3px 20px;
    position: relative;
    margin: 20px 5px 0 5px;
    color: #fff;
}

@media (max-width: 750px) {
    .hamburger {
        display: block;
        position: relative;
        z-index: 1000;
    }
    .nav-list {
        top: 0;
        right: 0;
        width: 50%;
        height: 60%;
        background: #012030e5;
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
        z-index: 999;
        position: fixed;
    }
    .nav-list a {
        font-size: 20px;
        opacity: 0;
    }
    .nav.active .nav-list {
        z-index: 999;
        /* mantém por cima mesmo aberto */
    }
    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }
    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }
    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
    }
    /* Estilos ativos */
    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }
    .nav.active .nav-list a {
        opacity: 1;
    }
    .nav.active .hamburger {
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }
    .nav.active .hamburger::before {
        transform: rotate(135deg);
    }
    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
    .txt {
        width: 70%;
    }
    article {
        display: block;
    }
    .div1 {
        width: 80%;
        height: 150px;
    }
    .div2 {
        width: 80%;
        height: 150px;
        margin: 30px 0 0 30px;
    }
    .div3 {
        width: 80%;
        height: 150px;
        margin: 30px 0 0 30px;
    }
    .bt1 {
        position: absolute;
        border-radius: 50%;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        border-color: #fff;
        cursor: pointer;
        width: 45px;
        height: 45px;
        font-size: 30px;
        background-color: #fff;
        color: #4a86e8;
        line-height: 1;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        transition: background-color 0.2s;
    }
}